body {
  background-color: #28616e;
  font-family: Roboto, Arial, sans-serif;
}

input:focus,
button:focus {
  outline: 2px solid #24f41a;
}

.wrapper {
  background-color: #363537;
  height: 500px;
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.calc-display {
  padding: 50px;
}

.calc-display-input {
  background-color: #040404;
  width: 300px;
  height: 50px;
  color: #24f41a;
  font-size: 30px;
  text-align: right;
}

.calc-buttons {
  width: 300px;
  height: 300px;
  background-color: #363537;
  margin: 0 auto;
}

.calc-buttons button {
  width: 60px;
  height: 45px;
  margin: 5px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #151616;
  color: #ffffff;
  border: 2px solid #4c4c4e;
}

.calc-buttons button:hover {
  background-color: #3e3e3e;
}
